@import url("./utility.css");
@import url("./header.css");

.rules-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2.6rem;
}

li {
  margin: 0.6rem 0;
}

.rules-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.start-playing {
  color: black;
  background-color: var(--start-playing-color);
  padding: 0.6rem 1rem;
  border: 3px solid black;
  border-radius: 2px;
  cursor: pointer;
}

.go-back {
  padding: 0.6rem 1rem;
  border: 3px solid black;
  cursor: pointer;
  color: black;
}

.go-back:hover {
  background-color: var(--logout-color);
}
