:root {
  --focus-color: #a2d2ff;
  --option-border-color: #adb5bd;
  --quiz-background-color: #f0efeb;
  --logout-color: #3a86ff;
  --exit-color: #ef233c;
  --start-playing-color: #ffcd01;
}

body {
  margin: 0;
  background-color: var(--quiz-background-color);
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 96%;
  margin: 0 auto;
}
